h1{
        color: aliceblue;
        justify-content: center;
        align-items: center;
        background-color: brown;
        border-radius: 10px;
        background-image: linear-gradient(to top, orange, brown);
        text-align: center;
        height: 50px;
        padding: 10px;
        margin-left: 300px;
        margin-right: 300px;
    }
    th{
       background-color: rgb(51, 110, 91);
    }
    td{
        background-color: greenyellow;
    }
    form{
        border: none;
        border-bottom: 1px solid white; /* Keep only a bottom line */
        background: transparent;
        text-align: center;
        height: 300px;
        background-image: linear-gradient(to left,rgb(61, 180, 180),rgb(59, 29, 59));
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 10px;
        align-items: center;
        padding: 20px;
        margin-left: 350px;
        margin-right: 350px;
    }
    p{
        background-image: linear-gradient(to bottom, rgb(49, 43, 43), aqua);
        background-color: blue;
        display: flex;
        padding: 30px;
        border-radius: 10px;
        margin: 20px;
        margin-bottom: 50px;
    }
    table{
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 800px;
        margin-right: 800px;
    }
    .headi{
        margin: auto;
    }
    div{
        height: 100px;
        width: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
    }
    #div1{
        background-color: brown;
    }
    #div2{
        background-color: darkgreen;
    }
    #div3{
        background-color: steelblue;
    }
